.button__container {
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #000; 
    color: #fff;
  }

  &.fit-width {
    width: fit-content;
  }

  &.cancel {
    border-color: red;

    &:hover {
      background-color: red; 
      color: #fff;
    }
  }
}
