.errorPage__wrap {
  display: grid;
  gap: 10px;

  .errorPage__status {
    display: flex;
    gap: 5px;
    justify-content: center;
    font-weight: 700;
    font-size: 2.0rem;    
  }

  .errorPage__title {
    display: flex;
    gap: 5px;
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
  }

  .errorPage__content {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
